body {
    background-color: rgb(195, 1, 0);
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#display {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.text {
    color: rgb(251, 214, 0);
    font-size: 32px;
}
#chungi_holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    pointer-events: none;
    animation: move_holder 10s linear infinite;
    overflow: visible;
}
.chungus {
    background: none;
    position: absolute;
    height: 15vh;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: inline-block;
    pointer-events: auto;
}
.prevent_select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}
@keyframes move_holder {
    0% {
        transform: translateX(100vw); /* Start off-screen to the right */
    }
    100% {
        transform: translateX(-100vw); /* End off-screen to the left */
    }
}
.paused{
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused; 
    animation-play-state:paused;
}
#turret_holder {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
}
.turret {
    position: absolute;
    background-color: grey;
    height: 20px;
    width: 20px;
    border-radius: 10px;
}
.bullet {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: rgb(50, 219, 81);
}